*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.blueBar{
    background-color: rgb(0, 132, 255);
    height: 30px;
}

.link {
    height: 100px;
    display: flex;
    justify-content: center;
    ul {
        
        display: flex;
        align-items: center;
        li {
            list-style: none;
            a{
                text-decoration: none;
                margin: 0 20px;
                color: rgb(73, 72, 72);
            }
        }
        
    }

    .logo{
        display: flex;
        align-items: center;
        img{
            width: 80px;
        }
        
    }

    .search{
        display: flex;
        align-items: center;
        .searchInp{
            height: 20px;
            border: none;
            border-bottom: solid 2px rgb(0, 132, 255);
        }
    }   
    
}

.jumbo{
    height: 500px;
    background-image: url("/storage/assets/jumbotron.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.sfondo{
    background-color: rgb(63, 63, 63);
    .container{
        margin: 0 auto;
        width: 70%;
        .fila{
            display: flex;
            justify-content: space-around;
            .fumetto{
                margin: 20px 20px;
                height: 200px;
                width: 200px;
                img{
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
                P{
                    color: white;
                    font-size: 15px;
                }
            }
        }

        .btn{
            display: flex;
            justify-content: center;
            button{
                background-color: rgb(1, 117, 226);
                color: white;
                font-size: 20px;
                border: none;
                margin: 50px 0 20px 0;
                padding: 15px 50px;
                cursor: pointer;
            }
        }
    }
}

.blueLink{
    background-color: rgb(0, 132, 255);
    
    .linkShop{
        margin: 0 auto;
        width: 70%;
        display: flex;
        justify-content: space-around;
    }
    .imgLink{
        display: flex;
        align-items: center;
        cursor: pointer;
        P{
            margin-left: 10px;
            color: white;
        }
        img{
            margin: 50px 0;
            width: 80px;
            background-color: white;
        }
    }
}

.upfooter{

    background-image: url("/storage/assets/footer-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    .containerFooter{
        margin: 0 auto;
        width: 70%;
        display: flex;
        justify-content: space-between;
        .boxLeft{
            display: flex;
            flex-direction: column;
            .infoCopy{
                margin: 0 20px;
                width: 91%;
                
                span{
                    color: rgb(156, 152, 152);
                    a{
                        text-decoration: none;
                        color: blue;
                    }
                }
            }

            .info{
                display: flex;
                margin: 50px 0 20px 0;
                .infoList{
                    h3{
                        color: white;
                        margin-left: 20px;
                    }
                    li{
                        list-style: none;
    
                        a{
                            text-decoration: none;
                            margin: 0 20px;
                            color: rgb(156, 152, 152);
                        }
                    }
                }
                
            }
        }
        

        .logoFooter{
            img{
                height: 400px;
                width: 600px;
                object-fit: none
            }
        }
        
    }

    
}

.downFooter{
    background-color: rgb(80, 79, 79);
    height: 100px; 
    display: flex;
    .containerDFooter{
        margin: 0 auto;
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .signBtn{
            button{
                border: rgb(1, 117, 226) 3px solid;
                color: white;
                background-color: rgb(80, 79, 79);
                padding: 18px;
            }
        }
        .social{
            display: flex;
            width: 25%;
            justify-content: space-between;
            align-items: center;

            h3{
                color: rgb(1, 117, 226);
            }
        }
    }
    
}

.sfondocomic{
    background-color: white;
    .containerComic{
        margin: 0 auto;
        width: 70%;
        display: flex;
        .infoComic{
            margin: 50px 0;
            width: 70%;
            h1{
                margin-bottom: 30px;
            }
            .greenBox{
                display: flex;
                margin-bottom: 30px;
                .boxPrice{
                    background-color: rgb(18, 179, 18);
                    display: flex;
                    padding: 18px;
                    width: 45%;
                    justify-content: space-between;
                    border: green solid 1px;
                    p{
                        color: green;
                        span{
                            color: white;
                        }
                    }
                }

                .available{
                    background-color: rgb(18, 179, 18);
                    display: flex;
                    padding: 18px;
                    border: green solid 1px;
                    p{
                        color: white;
                    }
                }
            }
            
            article{
                width: 70%;
            }
        }
        .powerVisa{
            width: 330px;
            height: 300px;
            img{
                object-fit: contain;
                width: 100%;
                height: 100%;
            }
        }
    }
}

