* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blueBar {
  background-color: #0084ff;
  height: 30px;
}

.link {
  height: 100px;
  display: flex;
  justify-content: center;
}

.link ul {
  display: flex;
  align-items: center;
}

.link ul li {
  list-style: none;
}

.link ul li a {
  text-decoration: none;
  margin: 0 20px;
  color: #494848;
}

.link .logo {
  display: flex;
  align-items: center;
}

.link .logo img {
  width: 80px;
}

.link .search {
  display: flex;
  align-items: center;
}

.link .search .searchInp {
  height: 20px;
  border: none;
  border-bottom: solid 2px #0084ff;
}

.jumbo {
  height: 500px;
  background-image: url("/storage/assets/jumbotron.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.sfondo {
  background-color: #3f3f3f;
}

.sfondo .container {
  margin: 0 auto;
  width: 70%;
}

.sfondo .container .fila {
  display: flex;
  justify-content: space-around;
}

.sfondo .container .fila .fumetto {
  margin: 20px 20px;
  height: 200px;
  width: 200px;
}

.sfondo .container .fila .fumetto img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.sfondo .container .fila .fumetto P {
  color: white;
  font-size: 15px;
}

.sfondo .container .btn {
  display: flex;
  justify-content: center;
}

.sfondo .container .btn button {
  background-color: #0175e2;
  color: white;
  font-size: 20px;
  border: none;
  margin: 50px 0 20px 0;
  padding: 15px 50px;
  cursor: pointer;
}

.blueLink {
  background-color: #0084ff;
}

.blueLink .linkShop {
  margin: 0 auto;
  width: 70%;
  display: flex;
  justify-content: space-around;
}

.blueLink .imgLink {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.blueLink .imgLink P {
  margin-left: 10px;
  color: white;
}

.blueLink .imgLink img {
  margin: 50px 0;
  width: 80px;
  background-color: white;
}

.upfooter {
  background-image: url("/storage/assets/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.upfooter .containerFooter {
  margin: 0 auto;
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.upfooter .containerFooter .boxLeft {
  display: flex;
  flex-direction: column;
}

.upfooter .containerFooter .boxLeft .infoCopy {
  margin: 0 20px;
  width: 91%;
}

.upfooter .containerFooter .boxLeft .infoCopy span {
  color: #9c9898;
}

.upfooter .containerFooter .boxLeft .infoCopy span a {
  text-decoration: none;
  color: blue;
}

.upfooter .containerFooter .boxLeft .info {
  display: flex;
  margin: 50px 0 20px 0;
}

.upfooter .containerFooter .boxLeft .info .infoList h3 {
  color: white;
  margin-left: 20px;
}

.upfooter .containerFooter .boxLeft .info .infoList li {
  list-style: none;
}

.upfooter .containerFooter .boxLeft .info .infoList li a {
  text-decoration: none;
  margin: 0 20px;
  color: #9c9898;
}

.upfooter .containerFooter .logoFooter img {
  height: 400px;
  width: 600px;
  -o-object-fit: none;
     object-fit: none;
}

.downFooter {
  background-color: #504f4f;
  height: 100px;
  display: flex;
}

.downFooter .containerDFooter {
  margin: 0 auto;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.downFooter .containerDFooter .signBtn button {
  border: #0175e2 3px solid;
  color: white;
  background-color: #504f4f;
  padding: 18px;
}

.downFooter .containerDFooter .social {
  display: flex;
  width: 25%;
  justify-content: space-between;
  align-items: center;
}

.downFooter .containerDFooter .social h3 {
  color: #0175e2;
}

.sfondocomic {
  background-color: white;
}

.sfondocomic .containerComic {
  margin: 0 auto;
  width: 70%;
  display: flex;
}

.sfondocomic .containerComic .infoComic {
  margin: 50px 0;
  width: 70%;
}

.sfondocomic .containerComic .infoComic h1 {
  margin-bottom: 30px;
}

.sfondocomic .containerComic .infoComic .greenBox {
  display: flex;
  margin-bottom: 30px;
}

.sfondocomic .containerComic .infoComic .greenBox .boxPrice {
  background-color: #12b312;
  display: flex;
  padding: 18px;
  width: 45%;
  justify-content: space-between;
  border: green solid 1px;
}

.sfondocomic .containerComic .infoComic .greenBox .boxPrice p {
  color: green;
}

.sfondocomic .containerComic .infoComic .greenBox .boxPrice p span {
  color: white;
}

.sfondocomic .containerComic .infoComic .greenBox .available {
  background-color: #12b312;
  display: flex;
  padding: 18px;
  border: green solid 1px;
}

.sfondocomic .containerComic .infoComic .greenBox .available p {
  color: white;
}

.sfondocomic .containerComic .infoComic article {
  width: 70%;
}

.sfondocomic .containerComic .powerVisa {
  width: 330px;
  height: 300px;
}

.sfondocomic .containerComic .powerVisa img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

